 body {
  font-family: Arial, sans-serif;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 4px solid #e0e0e0;
  border-radius: 10px;
  padding: 50px;
  background: white;
  box-shadow: 0 2px 8px purple;
  text-align: center;
  width: 600px;
}



 h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;  
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 25px;
}

/* .input-group .icon {
  margin-right: 8px;
} */

 input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
} 

.btn {
  width: 50%;
  background-color: #94196f;
  color: white;
  padding: 15px;
  border: none;
 border-radius: 5px; 
  cursor: pointer;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: rgb(214, 130, 176);
}

.back-link {
  display: block;
  color: #007bff;
  text-decoration: none;
}