.banner_part {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  background: #f8f9fa;
}

.banner_text_iner h1 {
  font-size: 48px;
  font-weight: 700;
  color: #333;
}

.banner_text_iner p {
  color: #555;
  margin: 15px 0 30px;
}

.btn_1 {
  background-color:rgb(79, 79, 145);
  color: white;
  padding: 12px 35px;
  border-radius: 50px;
  transition: all 0.3s;
}

.btn_1:hover {
  background-color: #422c44;
}

.alert {
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.single_product_iner {
  margin-bottom: 60px;
}

.footer_part {
  background: #111;
  color: #ccc;
  padding: 40px 0;
}

.footer_menu_item a {
  color: #ccc;
  margin-right: 15px;
  text-decoration: none;
}

.footer_menu_item a:hover {
  color: #ff7c57;
}

/* 
.navbar-brand img,
.footer_logo img,
.site-log{
  width: 40px;
  height: auto;
} */
