/* Login page specific styles */

.login_part {
    background: #f9f9f9;
}

.login_part_text {
    background: #ff9d9d;
    padding: 40px;
    border-radius: 10px;
}

.login_part_text_iner h2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.login_part_form {
    background: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
}

.login_part_form_iner h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.creat_account {
    margin-bottom: 15px;
}

.btn_3 {
    background: #ff6f61;
    border-radius: 5px;
    border: none;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}
/* 
.btn_3:hover {
    background: #ff4d4d; 
    
} */

.lost_pass {
    /* color: #ff6f61; */
    color :purple #6f42c1;
    font-size: 14px;
    float: right;
}
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* space between icon and text */
  width: 100%;
  border: 1px solid #007bff;
  color: #007bff;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

.google-btn:hover {
  background-color: #f8f9fa;
}

.google-btn img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .login_part_text, .login_part_form {
    padding: 20px;
  }
  .login_part_text {
      margin-bottom: 20px;
  }
  .login_part_text_iner h2 {
      font-size: 24px;
  }
  .login_part_form_iner h3 {
      font-size: 22px;
  }
}
